<h1>About Us</h1>
<p>
  <a href="http://frenchoverture.com/">French Overture</a>
  est un projet pour créer son CV et sa lettre de motivation.
  Il développe aussi des pages <b>Bientôt sur le net</b>. 
</p>
<p>
  <b>Hao Nguyen</b> est l'architecte de ce projet, débuté
  en Janvier 2010 suite à son retour en France de sa mission chez Bfinance. 
  Hao a d'abord développé l'application en VBA. 
  Hao a commencé sa carrière en 2003
  chez un sous-traitant télécom, Synaptel. Il s'est occupé d'un projet de délocalisation
  de R&D chez Schneider en 2006, en tant qu'architecte technique en charge de l'interface 
  entre les équipes chinoises (Shanghai) et françaises (Sophia-Antipolis- Schneider Automation, site fermé en 2008). 
  Il a accompagné des créateurs d'entreprise pour des aides à l'innovation (Hologram.Industries, FGPSensors, DXOLabs, Nano UV) au sein d'OSEO.
 </p>
<p>
  Il est ingénieur et possède une spécialisation en finance.
</p>

