<header>
  <% logo = image_tag("logo.png", :alt => "CV et lettre de motivation", :class => "round",:size =>"306x29") %>
 <%= link_to logo, root_path %>

  <nav class="round">
    <ul>

		 <span id="follower" > 	</span>      
    </ul>
  </nav>

</header>


