<social>
  <nav class="round">
    <ul>
      <li>  <% logo = image_tag("facebook.png", :alt => "facebook", :class => "round", :size => "45x45") %>
  	   <%= link_to logo, "http://www.facebook.com/nquochao" %>
     </li>
      <li> 
	<% logo = image_tag("twitter.png", :alt => "twitter", :class => "round",  :size => "45x45") %>
        <%= link_to logo, "http://twitter.com/nquochao" %>
     </li>
   </ul>
  </nav>
</social>

